*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

html, body {
    height: 100%;
    overflow: hidden;
    background-color: #8bf2d1;
}

body{
    background: url(../images/weltextbg.png);
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
}

.header{
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 20px;
    padding-left: 750px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

.logo {
    color: #ffffff;
    width:600px;
    height:auto;
    margin-top: 5px;
    margin-left: -700px;
}

.logo h2 {
    color: #65d8ef;
    font-weight: 460;
    filter: blur(0.1px);
}

.logo h2:hover {
    color: #ffffff;
    font-weight: 500;
}
  
.nav-bar{
    margin-right: 65px;
}

.nav-bar a{
    position: relative;
    font-size: 1.1em;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;   
}

.nav-bar a:hover{
    font-style: italic;
    border-radius: 2px;
}

.nav-bar a.active{
    border-bottom: 3px solid #fff;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.welcome-text{
    position: relative;
    padding: 30px;
    margin-top: 60px;
    text-align: center;
    animation: fadeInUp 1.5s ease-in-out;
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.welcome-text h1{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    position: relative;
    justify-content: center;
    color:rgb(5, 5, 5);
    text-transform: uppercase;
    font-size: 60px;
}

.bio img{
    width: 370px;
    height: 400px;
    margin-left: 100px;
    margin-top: 0;
    border: 2px solid #03700e;
    border-radius: 100px;
}

.bio h1{
    margin-top: -300px;
    margin-left: 45%;
    align-items: center;
    color: black;
    font-size: 40px;
}

.bio p{
    margin-top: 20px;
    margin-left: 35%;
    margin-right: 10%;
    text-align: center;
    align-items: center;
    color: black;
    background: linear-gradient(75deg, #dded78, rgb(232, 73, 73));
    padding: 10px 20px 10px 20px;
    border-radius: 80px;
}

footer {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    background-color: transparent;
}

footer button {
    padding: 10px 20px;
    background: #85dec1;
    border: none;
    border-radius: 5px;
    border: 2px solid black;
    cursor: pointer;
    font-size: 1em;
    font-weight: 550;
}

footer button a {
    color: black;
    text-decoration: none;
}

footer button:hover{
    background-color: transparent;
}
